/* styles.css */

/* Center everything */
body {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
    background-color: rgb(53, 58, 63);
    color: white;
}

.jumbotron {
    background-color: rgb(53, 58, 63);
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh; 
}

.navbar{
    width: 100%;
}

/* Header styles */
.Header {
    padding: 20px;
    margin-bottom: 10px;
    width: 100%;
    text-align: center;
}

/* Table styles */
.table {
    width: 90%;
    border-collapse: collapse;
    margin-bottom: 40px;
}

.table th,
.table td {
    border: 1px solid #f8f9fa; /* Lighter border color */
    padding: 12px;
    text-align: left;
    color: white;
}

/* Show/hide update fields button styles */
.show-update-fields {
    background-color: #007bff;
    color: white;
    border: none;
    padding: 8px 16px;
    cursor: pointer;
    margin-bottom: 12px;
    border-radius: 5px; /* Rounded corners */
    margin-top: 13px; 
    text-align: center;
}

.add {
    margin: 8px 8px;
}



.show-update-fields:hover {
    background-color: #0056b3;
}

/* Form styles */
.form {
    width: 25%;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 15px auto;
    padding: 20px;
    border: 1px solid white;
    position: relative;
    background-color: rgb(53, 58, 63);
}

.delete {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
}

.form input[type="text"],
.form input[type="email"],
.form input[type="number"] {
    margin-bottom: 15px;
    margin-left: 7px;
    width: calc(100% - 16px);
    padding: 8px;
    box-sizing: border-box;
    border-radius: 5px; /* Rounded corners */
    border-color: white;
    background-color: white;
    text-emphasis-color: white;
}

.search{
    box-sizing: border-box;
    border-radius: 5px; /* Rounded corners */
    border-color: white;
    background-color: white;
    text-emphasis-color: white;
    padding: 5px;
    margin: 5px;
}

.form input[type="submit"] {
    width: 50%;
    margin-top: 15px;
    background-color: #28a745;
    color: white;
    border: none;
    padding: 8px 8px;
    cursor: pointer;
    box-sizing: border-box;
    position: relative;
    left: 50%;
    transform: translateX(-50%);
}

input[type="text"]:focus,
input[type="email"]:focus,
input[type="number"]:focus {
    outline: none; /* Remove default focus outline */
    border-color: #007bff; /* Change border color on focus */
    box-shadow: 0 0 5px rgba(0, 123, 255, 0.5); /* Add a subtle box shadow */
}

input[type="submit"] {
    cursor: pointer; /* Show pointer cursor on hover */
    background-color: #007bff; /* Button background color */
    color: white; /* Button text color */
    border: none;
    border-radius: 5px;
    padding: 10px 20px; /* Adjust padding */
}

input[type="submit"]:hover {
    background-color: #0056b3; /* Button color on hover */
}

::placeholder {
    color: black; /* Placeholder text color */
}
